<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body class="home1 inner-page">
        <!-- Breadcrumbs Start -->
       <!-- <div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
            <div class="breadcrumbs-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="page-title">About Us 2</h1>
                            <ul>
                                <li>
                                    <a class="active" href="index.html">Home</a>
                                </li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End -->
        
		<!-- titmeline Start -->
        <div class="rs-titmeline sec-spacer">
            <div class="container">
            	<div class="abt-title mb-70 text-center">
            	    <h2>WELCOME TO RGCSM Sahawar Gate Kasganj</h2>      
            		<p>Going Towrds Employement.</p>
            	</div>
                <div class="rs-timeline">
                	<div class="rs-timeline-block">
                		<div class="rs-timeline-icon">
                			<i class="fa fa-pencil"></i>
                		</div>

                		<div class="rs-timeline-content">
                			<h3>Establishment of MS Computer Institute of Techmology</h3>
                			<p>We are the team of engineers which is working against unemployement. We Have established our istitute in May 2018. We are registered frenchise of RGCSM with named MS Computer Education Institute of Technology.</p>
                			<a href="#0" class="rs-read-more">Read more</a>
                			<span class="rs-date">2020 Jan 14</span>
                		</div>
                	</div>

                	<div class="rs-timeline-block">
                		<div class="rs-timeline-icon">
                			<i class="fa fa-image"></i>
                		</div>

                		<div class="rs-timeline-content">
                			<a href="#">
                				<img src="/assets/about/history.jpg" alt="Timeline Image">
                			</a>
                			<h3><a href="#">Increaseing employed student by 50+ @2020  </a></h3>
                			<p>We all are working hard aginst low education quality and powerty in India. We have started a campain which will help you get world class education and knowldge.</p>
                			<a href="#0" class="rs-read-more">Read more</a>
                			<span class="rs-date">2020 March 18</span>
                		</div>
                	</div>

                	<div class="rs-timeline-block">
                		<div class="rs-timeline-icon">
                			<i class="fa fa-video-camera"></i>
                		</div>

                		<div class="rs-timeline-content">
                			<video controls="">
                			    <source src="https://0.s3.envato.com/h264-video-previews/dc4f42f5-8742-4e3c-bb1a-41e292b4aa11/17885303.mp4" type="video/mp4">
                			</video>
                			<h3><a href="#">Registration of RGCSM</a></h3>
                			<p>Rajeev Gandhi Computer Saksharta Mission has been registered under the Society & Public Trust Act 21,1860,(Reg. No. S/47172) & Public Charitable Trust Act 1882 under section 17 vide Reg. No. 4286/IV from Govt. of India N.C.T., Delhi, working in different fields of Programme & Commercial training conducted by the State Government & Central Government to approach every class of the society. Society is also certified by ISO 9001 : 2015 Org. RGCSM is also associated with UP Electronic Corporation Ltd. (UPLC), Planning Commission of Govt. of India, National Skill Development Corporation (NSDC) of Govt. of India, New Delhi, National Skill Development Authority (NSDA) Govt. of India, New Delhi, Retailers Association Skill Council of India (RASCI), Mumbai, Telecom Sector Skill Council of India (TSSC), New Delhi, Banking, Financial services and Insurance Sector Skill Council of India (BFSISSC), New Delhi, National Digital Literacy Mission (NDLM), Tata Consultancy Services (TCS-ION), West Bengal State Rural Development Agency (WBSRDA). Rajeev Gandhi Computer Saksharta Mission provides training related to Computer Software, Hardware & Networking, Accounts, IT and ITES, Skill Development and different other sectors..</p>
                			<a href="#0" class="rs-read-more">Read more</a>
                			<span class="rs-date">2018 March 14</span>
                		</div>
                	</div>

                	<div class="rs-timeline-block">
                		<div class="rs-timeline-icon">
                			<i class="fa fa-youtube"></i>
                		</div>

                		<div class="rs-timeline-content">
                			<iframe height="350" src="https://www.youtube.com/embed/uQBL7pSAXR8?&amp;rel=0&amp;loop=1&amp;showinfo=0&amp;disablekb=1&amp;modestbranding=1&amp;controls=0&amp;hd=1&amp;autohide=1&amp;color=white&amp;wmode=opaque" allowfullscreen=""></iframe>
                			<h3><a href="#">Branches open in International</a></h3>
                			<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                			<a href="#0" class="rs-read-more">Read more</a>
                			<span class="rs-date">2010 Apr 10</span>
                		</div>
                	</div>

                	<div class="rs-timeline-block">
                		<div class="rs-timeline-icon">
                			<i class="fa fa-rocket"></i>
                		</div>

                		<div class="rs-timeline-content">
                			<h3>Opened 6 branch Worldwide</h3>
                			<blockquote>
                				<p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
                				<small>From WWF's website</small>
                			</blockquote>
                			<span class="rs-date">2015 Feb 26</span>
                		</div>
                	</div>
                </div>
            </div>
        </div>
        <!-- titmeline End -->

        <!-- Calltoaction Start -->
        <div id="rs-calltoaction" class="rs-calltoaction sec-spacer bg4">
            <div class="container">
                <div class="rs-cta-inner text-center">
                    <div class="sec-title mb-50 text-center">
                        <h2 class="white-color">WEB DESIGN &amp; DEVLOPMENT COURSE</h2>      
                        <p class="white-color">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem.</p>
                    </div>
				    <a class="cta-button" href="#">Join Now</a>
				</div>
            </div>
        </div>
        <!-- Calltoaction End -->

		<!-- Team Start -->
        <div id="rs-team" class="rs-team sec-spacer">
            <div class="container">
                <div class="sec-title-2 mb-50 text-center">
                    <h2>OUR EXPERIENCED STAFFS</h2>      
                	<p>Considering desire as primary motivation for the generation of narratives is a useful concept.</p>
                </div>
				<div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/assets/team/1.jpg" alt="team Image" />
							<div class="normal-text">
								<h3 class="team-name">ABD Rashid Khan</h3>
                                <span class="subtitle">Vice Chancellor</span>
							</div>
                        </div>
                        <div class="team-content">
							<div class="overly-border"></div>
                            <div class="display-table">
                                <div class="display-table-cell">
									<h3 class="team-name"><a href="teachers-single.htmll">ABD Rashid Khan</a></h3>
									<span class="team-title">Vice Chancellor</span>
                                    <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
									<div class="team-social">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/assets/team/2.jpg" alt="team Image" />
							<div class="normal-text">
								<h3 class="team-name">Luyes Figery</h3>
                                <span class="subtitle">A. Professor</span>
							</div>
                        </div>
                        <div class="team-content">
							<div class="overly-border"></div>
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <h3 class="team-name"><a href="teachers-single.html">Luyes Figery</a></h3>
                                    <span class="team-title">A. Professor</span>
                                    <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
									<div class="team-social">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/assets/team/3.jpg" alt="team Image" />
							<div class="normal-text">
								<h3 class="team-name">Mr. Mahabub Alam</h3>
                                <span class="subtitle">Assistant Professor</span>
							</div>
                        </div>
                        <div class="team-content">
							<div class="overly-border"></div>
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <h3 class="team-name"><a href="teachers-single.htmll">Mr. Mahabub Alam</a></h3>
                                    <span class="team-title">Assistant Professor</span>
                                    <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
									<div class="team-social">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
        <!-- Team End -->

        <!-- Branches Start -->
        <div id="rs-branches" class="rs-branches sec-color pt-100 pb-70">
            <div class="container">
                <div class="sec-title-2 mb-50 text-center">
                    <h2>OUR BRANCHES</h2>      
                	<p>Considering desire as primary motivation for the generatio.</p>
                </div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="branches-item">
							<img src="/assets/about/australia.png" alt="Australia Flag">
							<h3>
								<span>01</span>
								Australia
							</h3>
							<p>
								503  Old Buffalo Street<br>
								Northwest City #205, Australia
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="branches-item">
							<img src="/assets/about/china.png" alt="China Flag">
							<h3>
								<span>02</span>
								China
							</h3>
							<p>
								503  Old Buffalo Street<br>
								Northwest City #205, China
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="branches-item">
							<img src="/assets/about/india.png" alt="India Flag">
							<h3>
								<span>03</span>
								India
							</h3>
							<p>
								503  Old Buffalo Street<br>
								Northwest City #205, India
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="branches-item">
							<img src="/assets/about/united-states.png" alt="United States Flag">
							<h3>
								<span>04</span>
								United States
							</h3>
							<p>
								503  Old Buffalo Street<br>
								Northwest City #205, United States
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- Branches End -->
		
       
        </body>
</html>