<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body class="home1">
        		
		<!-- Slider Area Start -->
        <div id="rs-slider" class="slider-overlay-2">     
        	<div id="home-slider">
				<!-- Item 1 -->
				<div class="item active">
					<img src="/assets/slider/home1/slide1.jpg" alt="Slide1" />
					<div class="slide-content">
						<div class="display-table">
							<div class="display-table-cell">
								<div class="container text-center">
									<h1 class="slider-title" data-animation-in="fadeInLeft" data-animation-out="animate-out">WELCOME TO RGCSM <br> Sahawar Gate Kasganj</h1>
									<p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">We Have more effective and powerful cources by which you became industry read employee.<br class="hidden-sm-dow">Mre Then 21 Student get placed in Domestic and MNC. </p>  
									<a href="#" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out">READ MORE</a>
									<a href="#" class="sl-get-started-btn" data-animation-in="lightSpeedIn" data-animation-out="animate-out">GET STARTED NOW</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Item 2 -->
				<div class="item">
					<img src="/assets/slider/home1/slide2.jpg" alt="Slide2" />
					<div class="slide-content">
						<div class="display-table">
							<div class="display-table-cell">
								<div class="container text-center">
									<h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">Job Orinted Diploma</h1>
									<p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">Our English Speaking Course and compter coources are together means job. <br class="hidden-sm-dow">You Can Get Job Within 3 months. <br>So Hurry Up !</p>  
									<a href="#" class="sl-readmore-btn mr-30" data-animation-in="fadeInUp" data-animation-out="animate-out">READ MORE</a>
									<a href="#" class="sl-get-started-btn" data-animation-in="fadeInUp" data-animation-out="animate-out">GET STARTED NOW</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Item 3 -->
				<div class="item">
					<img src="/assets/slider/home1/slide3.jpg" alt="Slide3" />
					<div class="slide-content">
						<div class="display-table">
							<div class="display-table-cell">
								<div class="container text-center">
									<h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">ADCH Advance Diploma In Computer Hardware</h1>
									<p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">This is our 12 Months Powerful cource by douing This you can be placed at the post of System Engineer.<br> And you can earn 4 Lacks per Anum</p>  
									<a href="#" class="sl-readmore-btn mr-30" data-animation-in="fadeInUp" data-animation-out="animate-out">READ MORE</a>
									<a href="#" class="sl-get-started-btn" data-animation-in="fadeInUp" data-animation-out="animate-out">GET STARTED NOW</a>
								</div>
							</div>
						</div>
					</div>
				</div>

        	</div>         
        </div>
        <!-- Slider Area End -->
		
		<!-- Services Start -->
        <div class="rs-services rs-services-style1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                    	<div class="services-item rs-animation-hover">
                    	    <div class="services-icon">
                    	    	<i class="fa fa-american-sign-language-interpreting rs-animation-scale-up"></i>                    	        
                    	    </div>
                    	    <div class="services-desc">
                    	        <h4 class="services-title">Trending Courses</h4>
                    	        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    	    </div>
                    	</div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                    	<div class="services-item rs-animation-hover">
                    	    <div class="services-icon">                    	        
                    	        <i class="fa fa-book rs-animation-scale-up"></i>
                    	    </div>
                    	    <div class="services-desc">
                    	        <h4 class="services-title">Books & Liberary</h4>
                    	        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    	    </div>
                    	</div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                    	<div class="services-item rs-animation-hover">
                    	    <div class="services-icon">
                    	        <i class="fa fa-user rs-animation-scale-up"></i>
                    	    </div>
                    	    <div class="services-desc">
                    	        <h4 class="services-title">Certified Teachers</h4>
                    	        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    	    </div>
                    	</div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                    	<div class="services-item rs-animation-hover">
                    	    <div class="services-icon">
                    	        <i class="fa fa-graduation-cap rs-animation-scale-up"></i>
                    	    </div>
                    	    <div class="services-desc">
                    	        <h4 class="services-title">Certification</h4>
                    	        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    	    </div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Services End -->

		<!-- About Us Start -->
        <div id="rs-about" class="rs-about sec-spacer">
            <div class="container">
                <div class="sec-title mb-50 text-center">
                    <h2>ABOUT US</h2>      
                	<p>Leading Institute Of India</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-img rs-animation-hover">
							<img src="/assets/about/about.jpg" alt="img02"/>
							<a class="popup-youtube rs-animation-fade" href="https://www.rgcsm.org/25Years.mp4" title="Video Icon">
							</a>
							<div class="overly-border"></div>
						</div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                    	<div class="about-desc">
                		    <h3>WELCOME TO RGCSM</h3>      
                			<p>RGCSM has has only one branch in kasganj with the name MS Computer Education institute of Technology</p>
                    	</div>
						<div id="accordion" class="rs-accordion-style1">
						    <div class="card">
						        <div class="card-header" id="headingOne">
						            <h3 class="acdn-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          		Our History
						            </h3>
						        </div>
						        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						            <div class="card-body">
						                Since 20 years success, conducting various commercial training and Skill Development programs. RGCSM is working across whole nation with almost 2500 Authorized Study Center (ASC) and a wide network in 22 states of the country. Our society decided to work for "Information & Technology for all", the slogan by the Indian Govt. For formulating the dream of Indian Govt. and to fulfill the requirement of employment of 22 Lac in I.T. Technologist and more than other 10 Lac ancillary requirement of computer operator / specialist in industrial development, small scale industries, our society makes an important role in the mission "Rajeev Gandhi Computer Saksharta Mission". Because the former Prime Minister Late Sh. Rajeev Gandhi was the introducer of computer revolution all over India, the mission is added by their name.
						            </div>
						        </div>
						    </div>
						    <div class="card">
						        <div class="card-header" id="headingTwo">
						            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          		Our Mission
						            </h3>
						        </div>
						        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						            <div class="card-body">
						                In present time, some big Institution run their one-year or more than one-year programme in higher charges. Due to which the middle class families of our societies cannot afford the load of their charges.
						            </div>
						        </div>
						    </div>
						    <div class="card">
						        <div class="card-header mb-0" id="headingThree">
						            <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          		Our Vision
						            </h3>
						        </div>
						        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						            <div class="card-body">
						                Our mission studied their theme properly and decided to provide better higher technical education in computer making a foundation of "Rajeev Gandhi Computer Saksharta Mission". This mission is run by the "Shri Rajeev Gandhi Computer Saksharta Society" all over India.
									 </div>
						        </div>
						    </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us End -->

        <!-- Courses Start -->
        <div id="rs-courses" class="rs-courses sec-color sec-spacer">
			<div class="container">
				<div class="sec-title mb-50 text-center">
                    <h2>OUR POPULAR COURSES</h2>      
                	<p>We Have introduced some cources by witch you can get job in MNC</p>
                </div>
				<div class="row">
			        <div class="col-md-12">
						<div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
			                <div class="cource-item">
			                    <div class="cource-img">
			                        <img src="/assets/courses/1.jpg" alt="" style="width:370px; height: 270px;" />
                                    <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                        <i class="fa fa-link"></i>
                                    </a>
			                        <span class="course-value">INR8300</span>
			                    </div>
			                    <div class="course-body">
			                    	<a href="#" class="course-category">Software</a>
			                    	<h4 class="course-title"><a href="courses-details.html">Advance Diploma In Computer Application - (ADCA)</a></h4>
			                    	<div class="review-wrap">
			                    		<ul class="rating">
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star-half-empty"></li>
			                    		</ul>
			                    		<span class="review">25 Reviews</span>
			                    	</div>
			                    	<div class="course-desc">
			                    		<p>
			                    			This Caurse helpful to get job in software industry and also helpfull in heir education. We offer Free Engish Speaking Caurse .
			                    		</p>
			                    	</div>
			                    </div>
			                    <div class="course-footer">
			                    	<div class="course-time">
			                    		<span class="label">Course Time</span>
			                    		<span class="desc">1 Year</span>
			                    	</div>
			                    	<div class="course-student">
			                    		<span class="label">Course Student</span>
			                    		<span class="desc">95</span>
			                    	</div>
			                    	<div class="class-duration">
			                    		<span class="label">Class Duration</span>
			                    		<span class="desc">8:00 AM-9:30 AM</span>
			                    	</div>
			                    </div>
			                </div>
			                <div class="cource-item">
			                    <div class="cource-img">
			                        <img src="/assets/courses/2.jpg" alt="" style="width:370px; height: 270px;"/>
                                    <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                        <i class="fa fa-link"></i>
                                    </a>
			                        <span class="course-value">INR2700</span>
			                    </div>
			                    <div class="course-body">
			                    	<a href="#" class="course-category">Accounting</a>
			                    	<h4 class="course-title"><a href="courses-details.html">Advance Accounting Using Tally ERP9 With GST</a></h4>
			                    	<div class="review-wrap">
			                    		<ul class="rating">
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star-half-empty"></li>
			                    		</ul>
			                    		<span class="review">39 Reviews</span>
			                    	</div>
			                    	<div class="course-desc">
			                    		<p>We Offer this couse to whom accept industrial chalange of accounting. We recomond English Speaking Caurse With This Caurse
			                    		</p>
			                    	</div>
			                    </div>
			                    <div class="course-footer">
			                    	<div class="course-time">
			                    		<span class="label">Course Time</span>
			                    		<span class="desc">3 Months</span>
			                    	</div>
			                    	<div class="course-student">
			                    		<span class="label">Course Student</span>
			                    		<span class="desc">15</span>
			                    	</div>
			                    	<div class="class-duration">
			                    		<span class="label">Class Duration</span>
			                    		<span class="desc">2:30 PM-4:00PM</span>
			                    	</div>
			                    </div>
			                </div>
			                <div class="cource-item">
			                    <div class="cource-img">
			                        <img src="/assets/courses/3.jpg" alt="" style="width:370px; height: 270px;"/>
                                    <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                        <i class="fa fa-link"></i>
                                    </a>
			                        <span class="course-value">INR9999</span>
			                    </div>
			                    <div class="course-body">
			                    	<a href="#" class="course-category">Computer Hardware</a>
			                    	<h4 class="course-title"><a href="courses-details.html">Advance Diploma in Computer Hardware & Networking</a></h4>
			                    	<div class="review-wrap">
			                    		<ul class="rating">
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star"></li>
			                    		    <li class="fa fa-star-half-empty"></li>
			                    		</ul>
			                    		<span class="review">22 Reviews</span>
			                    	</div>
			                    	<div class="course-desc">
			                    		<p>
			                    			We Offers complete hardware and computer networking knowldge with server design. So you get job in MNC as system Engineer.
			                    		</p>
			                    	</div>
			                    </div>
			                    <div class="course-footer">
			                    	<div class="course-time">
			                    		<span class="label">Course Time</span>
			                    		<span class="desc">1.5 Years</span>
			                    	</div>
			                    	<div class="course-student">
			                    		<span class="label">Course Student</span>
			                    		<span class="desc">80</span>
			                    	</div>
			                    	<div class="class-duration">
			                    		<span class="label">Class Duration</span>
			                    		<span class="desc">4:00 PM-5:30 PM</span>
			                    	</div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
        </div>
        <!-- Courses End -->
		
		<!-- Counter Up Section Start-->
        <div class="rs-counter pt-100 pb-70 bg3">
            <div class="container">
                <div class="row">
                	<div class="col-lg-6 col-md-12">
                		<div class="counter-content">
                			<h2 class="counter-title">ACHEIVEMENTS</h2>
                			<div class="counter-text">
                				<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart like mine.</p>
                			</div>
                			<div class="counter-img rs-image-effect-shine">
                				<img src="/assets/counter/1.jpg" alt="Counter Discussion">
                			</div>
                		</div>
                	</div>
                	<div class="col-lg-6 col-md-12 mt-80">
                		<div class="row">
		                    <div class="col-md-6">
		                        <div class="rs-counter-list">
		                            <h2 class="counter-number plus">60</h2>                  
		                            <h4 class="counter-desc">TEACHERS</h4>
		                        </div>
		                    </div>
		                    <div class="col-md-6">
		                        <div class="rs-counter-list">
		                            <h2 class="counter-number plus">40</h2>
		                            <h4 class="counter-desc">COURSES</h4>
		                        </div>
		                    </div>
                		</div>
                		<div class="row">
		                    <div class="col-md-6">
		                        <div class="rs-counter-list">
		                            <h2 class="counter-number plus">900</h2>                  
		                            <h4 class="counter-desc">STUDENTS</h4>
		                        </div>
		                    </div>
		                    <div class="col-md-6">
		                        <div class="rs-counter-list">
		                            <h2 class="counter-number plus">3675</h2>
		                            <h4 class="counter-desc">Satisfied Client</h4>
		                        </div>
		                    </div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
        <!-- Counter Down Section End -->

        <!-- Events Start -->
        <div id="rs-events" class="rs-events sec-spacer">
			<div class="container">
				<div class="sec-title mb-50 text-center">
                    <h2>OUR UPCOMING EVENTS</h2>      
                	<p>I feel the presence of the Almighty, who formed us in his own image, and the breath.</p>
                </div>
				<div class="row">
			        <div class="col-md-12">
						<div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
			                <div class="event-item">
			                    <div class="event-img">
			                        <img src="/assets/events/1.jpg" alt="" />
                                    <a class="image-link" href="events-details.html" title="University Tour 2018">
                                        <i class="fa fa-link"></i>
                                    </a>
			                    </div>
		                    	<div class="events-details sec-color">
                                    <div class="event-date">
                                        <i class="fa fa-calendar"></i>
                                        <span>28 June 2017</span>
                                    </div>
                                    <h4 class="event-title"><a href="events-details.html">PRACTICE WORKSHOP 2018</a></h4>
                                    <div class="event-meta">
                                        <div class="event-time">
                                            <i class="fa fa-clock-o"></i>
                                            <span>12.30AM-05.30PM</span>
                                        </div>
                                        <div class="event-location">
                                            <i class="fa fa-map-marker"></i>
                                            <span>Venue A, Main Campus</span>
                                        </div>
                                    </div>
                                    <div class="event-btn">
                                        <a href="#">Join Event <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
			                </div>
			                <div class="event-item">
			                    <div class="event-img">
			                        <img src="/assets/events/2.jpg" alt="" />
                                    <a class="image-link" href="events-details.html" title="University Tour 2018">
                                        <i class="fa fa-link"></i>
                                    </a>
			                    </div>
                                <div class="events-details sec-color">
                                    <div class="event-date">
                                        <i class="fa fa-calendar"></i>
                                        <span>28 April 2017</span>
                                    </div>
                                    <h4 class="event-title"><a href="events-details.html">CAMPUS EXAMINATION ROOM</a></h4>
                                    <div class="event-meta">
                                        <div class="event-time">
                                            <i class="fa fa-clock-o"></i>
                                            <span>10.30AM-03.30PM</span>
                                        </div>
                                        <div class="event-location">
                                            <i class="fa fa-map-marker"></i>
                                            <span>Venue A, Main Campus</span>
                                        </div>
                                    </div>
                                    <div class="event-btn">
                                        <a href="#">Join Event <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
			                </div>
			                <div class="event-item">
			                    <div class="event-img">
			                        <img src="/assets/events/3.jpg" alt="" />
                                    <a class="image-link" href="events-details.html" title="University Tour 2018">
                                        <i class="fa fa-link"></i>
                                    </a>
			                    </div>
                                <div class="events-details sec-color">
                                    <div class="event-date">
                                        <i class="fa fa-calendar"></i>
                                        <span>28 June 2017</span>
                                    </div>
                                    <h4 class="event-title"><a href="events-details.html">BEST GRADUATION CEREMONY</a></h4>
                                    <div class="event-meta">
                                        <div class="event-time">
                                            <i class="fa fa-clock-o"></i>
                                            <span>10.30AM-03.30PM</span>
                                        </div>
                                        <div class="event-location">
                                            <i class="fa fa-map-marker"></i>
                                            <span>Venue A, Main Campus</span>
                                        </div>
                                    </div>
                                    <div class="event-btn">
                                        <a href="#">Join Event <i class="fa fa-angle-double-right"></i></a>
                                    </div>
		                    	</div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
        </div>
        <!-- Events End -->
        
		<!-- Team Start -->
        <div id="rs-team" class="rs-team sec-color sec-spacer">
            <div class="container">
                <div class="sec-title mb-50 text-center">
                    <h2>OUR EXPERIENCED STAFFS</h2>      
                	<p>Considering desire as primary motivation for the generation of narratives is a useful concept.</p>
                </div>
				<div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/assets/team/1.jpg" alt="team Image" style="width: 370px; height: 409px;" />
							<div class="normal-text">
								<h3 class="team-name">Nawab Singh</h3>
                                <span class="subtitle">Vice Chancellor</span>
							</div>
                        </div>
                        <div class="team-content">
							<div class="overly-border"></div>
                            <div class="display-table">
                                <div class="display-table-cell">
									<h3 class="team-name"><a href="teachers-single.html">Nawab Singh</a></h3>
									<span class="team-title">Vice Chancellor</span>
                                    <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
									<div class="team-social">
										<a href="https://www.facebook.com/NAWI0007" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/assets/team/2.jpg" alt="team Image" style="width: 370px; height: 409px;"/>
							<div class="normal-text">
								<h3 class="team-name">Luyes Figery</h3>
                                <span class="subtitle">A. Professor</span>
							</div>
                        </div>
                        <div class="team-content">
							<div class="overly-border"></div>
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <h3 class="team-name"><a href="teachers-single.html">Luyes Figery</a></h3>
                                    <span class="team-title">A. Professor</span>
                                    <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
									<div class="team-social">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <img src="/assets/team/3.jpg" alt="team Image" style="width: 370px; height: 409px;"/>
							<div class="normal-text">
								<h3 class="team-name">Mr. Mahabub Alam</h3>
                                <span class="subtitle">Assistant Professor</span>
							</div>
                        </div>
                        <div class="team-content">
							<div class="overly-border"></div>
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <h3 class="team-name"><a href="teachers-single.html">Mr. Mahabub Alam</a></h3>
                                    <span class="team-title">Assistant Professor</span>
                                    <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
									<div class="team-social">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
        <!-- Team End -->

        <!-- Calltoaction Start -->
        <div id="rs-calltoaction" class="rs-calltoaction sec-spacer bg4">
            <div class="container">
                <div class="rs-cta-inner text-center">
                    <div class="sec-title mb-50 text-center">
                        <h2 class="white-color">WEB DESIGN &amp; DEVLOPMENT COURSE</h2>      
                        <p class="white-color">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem.</p>
                    </div>
				    <a class="cta-button" href="#">Join Now</a>
				</div>
            </div>
        </div>
        <!-- Calltoaction End -->

        <!-- Latest News Start -->
        <div id="rs-latest-news" class="rs-latest-news sec-spacer">
			<div class="container">
				<div class="sec-title mb-50 text-center">
                    <h2>OUR LASTEST NEWS</h2>      
                	<p>Fusce sem dolor, interdum in efficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                </div>
				<div class="row">
			        <div class="col-md-6">
						<div class="news-normal-block">
		                    <div class="news-img">
		                    	<a href="#">
		                        	<img src="/assets/blog/1.jpg" alt="" />
		                    	</a>
		                    </div>
	                    	<div class="news-date">
	                    		<i class="fa fa-calendar-check-o"></i>
	                    		<span>June  28,  2017</span>
	                    	</div>
	                    	<h4 class="news-title"><a href="blog-details.html">Those Other College Expenses You Aren't Thinking About</a></h4>
	                    	<div class="news-desc">
	                    		<p>
	                    			Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.Lorem Ipsum is therefore always free from repetitionetc.
	                    		</p>
	                    	</div>
	                    	<div class="news-btn">
	                    		<a href="#">Read More</a>
	                    	</div>
		                </div>
			        </div>
			        <div class="col-md-6">
			        	<div class="news-list-block">
			        		<div class="news-list-item">
			                    <div class="news-img">
			                    	<a href="#">
			                        	<img src="/assets/blog/2.jpg" alt="" />
			                    	</a>
			                    </div>			        			
								<div class="news-content">
			                    	<h5 class="news-title"><a href="blog-details.html">While the lovely valley team work</a></h5>
			                    	<div class="news-date">
			                    		<i class="fa fa-calendar-check-o"></i>
			                    		<span>June  28,  2017</span>
			                    	</div>
			                    	<div class="news-desc">
			                    		<p>
			                    			Excepteur sint occaecat cupidatat non proident,
			                    			sunt in culpa qui officia deserunt.
			                    		</p>
			                    	</div>
				                </div>			        			
			        		</div>
			        		<div class="news-list-item">
			                    <div class="news-img">
			                    	<a href="#">
			                        	<img src="/assets/blog/3.jpg" alt="" />
			                    	</a>
			                    </div>			        			
								<div class="news-content">
			                    	<h5 class="news-title"><a href="blog-details.html">I must explain to you how all this idea</a></h5>
			                    	<div class="news-date">
			                    		<i class="fa fa-calendar-check-o"></i>
			                    		<span>June  28,  2017</span>
			                    	</div>
			                    	<div class="news-desc">
			                    		<p>
			                    			Excepteur sint occaecat cupidatat non proident,
			                    			sunt in culpa qui officia deserunt.
			                    		</p>
			                    	</div>
				                </div>			        			
			        		</div>
			        		<div class="news-list-item">
			                    <div class="news-img">
			                    	<a href="#">
			                        	<img src="/assets/blog/4.jpg" alt="" />
			                    	</a>
			                    </div>			        			
								<div class="news-content">
			                    	<h5 class="news-title"><a href="blog-details.html">I should be incapable of drawing a stroke</a></h5>
			                    	<div class="news-date">
			                    		<i class="fa fa-calendar-check-o"></i>
			                    		<span>June  28,  2017</span>
			                    	</div>
			                    	<div class="news-desc">
			                    		<p>
			                    			Excepteur sint occaecat cupidatat non proident,
			                    			sunt in culpa qui officia deserunt.
			                    		</p>
			                    	</div>
				                </div>			        			
			        		</div>
			        	</div>
			        </div>
			    </div>
			</div>
        </div>
        <!-- Latest News End -->

		<!-- Products Start -->
        <div id="rs-products" class="rs-products sec-spacer sec-color">
			<div class="container">
				<div class="sec-title mb-50 text-center">
					<h2>OUR PUBLICATIONS</h2>      
					<p>Fusce sem dolor, interdum in efficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
				</div>
				<div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="4" data-md-device-nav="true" data-md-device-dots="true">
					<div class="product-item">
						<div class="product-img">
	                    	<a href="#">
	                        	<img src="/assets/products/1.jpg" alt="" />
	                    	</a>
	                    </div>
                    	<h4 class="product-title"><a href="shop-details.html">Book Packages V2</a></h4>
                    	<span class="product-price">From: $85.00</span>
                    	<div class="product-btn">
                    		<a href="#">Add To Cart</a>
                    	</div>
					</div>
					<div class="product-item">
						<div class="product-img">
	                    	<a href="#">
	                        	<img src="/assets/products/2.jpg" alt="" />
	                    	</a>
	                    </div>
                    	<h4 class="product-title"><a href="shop-details.html">Smart Tabs X18</a></h4>
                    	<span class="product-price">From: $85.00</span>
                    	<div class="product-btn">
                    		<a href="#">Add To Cart</a>
                    	</div>
					</div>
					<div class="product-item">
						<div class="product-img">
	                    	<a href="#">
	                        	<img src="/assets/products/3.jpg" alt="" />
	                    	</a>
	                    </div>
                    	<h4 class="product-title"><a href="shop-details.html">Modern Bags L17</a></h4>
                    	<span class="product-price">From: $85.00</span>
                    	<div class="product-btn">
                    		<a href="#">Add To Cart</a>
                    	</div>
					</div>
					<div class="product-item">
						<div class="product-img">
	                    	<a href="#">
	                        	<img src="/assets/products/4.jpg" alt="" />
	                    	</a>
	                    </div>
                    	<h4 class="product-title"><a href="shop-details.html">Internet CC Camera</a></h4>
                    	<span class="product-price">From: $85.00</span>
                    	<div class="product-btn">
                    		<a href="#">Add To Cart</a>
                    	</div>
					</div>
				</div>
				<div class="view-btn">
					<a href="#">VIEW  ALL</a>
				</div>
			</div>
		</div>

		<!-- Newslatter Start -->
<!--
        <div id="rs-newslatter" class="rs-newslatter sec-black sec-spacer">
            <div class="container">
                <div class="row rs-vertical-middle">
                    <div class="col-md-6">
                        <h3 class="newslatter-title">STAY CONNECTED WITH US</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <form class="newslatter-form">
                            <input type="text" class="form-input" placeholder="Enter Your Email Address">
                            <button type="submit" class="form-button">SUBSCRIBE</button>
                        </form>						
                    </div>
                </div>
            </div>
        </div>
-->

		<!-- Testimonial Start -->
        <div id="rs-testimonial" class="rs-testimonial bg5 sec-spacer">
			<div class="container">
				<div class="sec-title mb-50 text-center">
					<h2 class="white-color">WHAT PEOPLE SAYS</h2>      
					<p class="white-color">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
				</div>
				<div class="row">
			        <div class="col-md-12">
						<div  class="rs-carousel owl-carousel" data-loop="true" data-items="2" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="2" data-md-device-nav="true" data-md-device-dots="true">
			                <div class="testimonial-item">
			                    <div class="testi-img">
			                        <img src="/assets/testimonial/1.jpg" alt="Jhon Smith">
			                    </div>
			                    <div class="testi-desc">
			                        <h4 class="testi-name">Luise Henrikes</h4>
			                        <p>
			                            Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
			                        </p>
			                    </div>
			                </div>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/testimonial/2.jpg" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/testimonial/3.jpg" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/testimonial/4.jpg" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/testimonial/5.jpg" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
			            </div>
			        </div>
			    </div>
			</div>
        </div>
        <!-- Testimonial End -->
		
        
       
    </body>
</html>